body{
    background-color: #afd9ff;
}

.center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 410px;
    height: 540px;
    text-align: center;
    background-color: #e6ecf0;
    border-radius: 25px;
}

.center-post-tweet{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 410px;
    height: 435px;
    text-align: center;
    background-color: #e6ecf0;
    border-radius: 25px;
}

 #tweet {
     width: 410px !important;
}
#tweet iframe {
    border: none !important;
    box-shadow: none !important;
}

a, a:visited{
    color:red;
}